:root {
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --dark-gray: hsl(0, 0%, 55%);
  --very-dark-gray: hsl(0, 0%, 41%);
}

/* font-family: 'Alata', sans-serif;
font-family: 'Josefin Sans', sans-serif; */

body {
  background-color: var(--white);
  font-size: 0.9375em;
  font-family: "Alata", sans-serif;
}
